<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
        <!-- Logo -->
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
        <h1>Never Satisfied Perfomance</h1>
        <h3>Enter your login credentials</h3>
        <!-- Display flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('login') }}" method="POST">
            <label for="username">
                Username:
            </label>
            <input type="text" id="username" name="username" placeholder="Enter your Username" required>

            <label for="password">
                Password:
            </label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit">
                    Login
                </button>
            </div>
        </form>
        <p>Not registered?
            <a href="{{ url_for('signup') }}" style="text-decoration: none;">
                Create an account
            </a>
        </p>
    </div>
</body>
</html>
